body {
    margin-top: 20px;
    background-color: #f8fafb;
}

.father_editor{
    width: 100%;
    display: flex;
    justify-content: center;
    top: 25%;
    position: absolute;
}

.father_editor_admin{
    display: flex;
    justify-content: center;
    width: 100%;
    top: 15%;
    position: absolute;
}

.form_cont{
    width: 20%;
    text-align: center;
}

.form_cont_admin{
    width: 20%;
    text-align: center;
}